// Amatic SC
@font-face {
  font-family: 'Amatic SC';
  src: url('../fonts/AmaticSC/AmaticSC-400.woff2') format('woff2'),
    url('../fonts/AmaticSC/AmaticSC-400.woff') format('woff'),
    url('../fonts/AmaticSC/AmaticSC-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Amatic SC';
  src: url('../fonts/AmaticSC/AmaticSC-700.woff2') format('woff2'),
    url('../fonts/AmaticSC/AmaticSC-700.woff') format('woff'),
    url('../fonts/AmaticSC/AmaticSC-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

// Pangolin
@font-face {
  font-family: 'Pangolin';
  src: url('../fonts/Pangolin/Pangolin-Regular.woff2') format('woff2'),
    url('../fonts/Pangolin/Pangolin-Regular.woff') format('woff'),
    url('../fonts/Pangolin/Pangolin-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
