@import 'assets/scss/fonts.scss';
@import 'assets/scss/reset.scss';


body {
  font-family: 'Amatic SC', serif;
  color: $white;
  word-break: break-word;
  scroll-behavior: smooth;
  background: #26120B;
}

* {
  box-sizing: border-box;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: $dark-grey;
}

img,
svg {
  display: block;
}

.nested-enter-active,
.nested-leave-active {
  transition: all .3s ease-in;
}

.nested-enter,
.nested-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}